{% set route_name = app.request.attributes.get('_route') %}

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Plan du site</h5>
        <p><a href="">Société</a><br/>
          <a href="">Contact</a><br/></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>NOTE TON PLAYER - Siège social</h5>
        <p>27 Raoul Servant - 69007 Lyon<br/>
          04 69 69 69 69<br/>
        <a href="mailto:contact@notetonplayer.fr">contact@notetonplayer.fr</a></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h5>Copyrights</h5>
        <p><a href="">Mentions légales</a></p>
        <h5>Réseaux sociaux</h5>
        <a href="https://www.facebook.com/" target="_blank"><img src="bundles/soccer/img/facebook.jpg" alt="facebook"></a>
        <a href="https://instagram.com/" target="_blank"><img src="bundles/soccer/img/instagram.png" alt="instagram"></a>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
      	   <p>&copy; NOTE TON PLAYER 2017 - Tous droits réservés</p>
        </div>
      </div>
    </div>
  </div>
</div>
