{% extends 'bootstrap/layout.html.twig' %}

{% block content %}
<div class="login">
  <div class="jumbotron">
    <h1>Création de Player</h1>
  </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="tchoin">
        <input type="submit" value="Create" />

    {{ form_end(form) }}


    <ul>
            <a href="{{ path('admin_player_index') }}">Revenir à la liste</a>
    </ul>
</div>
</div>

{% endblock %}
