{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Note ton Player{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>
      <i class="fa fa-address-book-o"></i>
      Liste Players</h1>
  </div>
  <ul class="list-group">
    {% for rows in players | batch(4) %}<br>
      <div class="row">
        {% for player in rows %}
          <div class="mort col-sm-3 cards">
            <img class="img-thumbnail" src="{{ asset(player.image) }}"/><br>
            <div class="mort">
              <a href="{{ path('player_detail', {playerId: player.id}) }}">
                {{ player.lastname }}
                {{ player.firstname }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </ul>
{% endblock %}
